{{#transition-group transition-class="SlideIn"}}
		<h1>{{model.title}}</h1>
		<h2>{{model.intro}}</h2>
		<hr>
		<section class="primary-content">
		{{#each model.contents.content as |item|}}
			<p>{{item}}</p>
		{{/each}}
			<a href="mailto{{model.emailUrl}}">{{model.email}}</a>
			<a href="{{model.linkedUrl}}" target="_blank">{{model.linked}}</a>
	</section>
{{/transition-group}}